In [81]:
import pandas as pd
import numpy as np
import ast
from functools import reduce
from sklearn.ensemble import IsolationForest

In [14]:
'''
given the source/checkin_checkout_history_updated.csv file, identify the users and its corresponding weeks where it has been acting differently/unusual
steps:
1. process the data to group by (user, week) and get {total visits, total length of visits, total calories burnt}
    - can use map reduce to do this, or pandas <(user, week), (total visits, total length of visits, total calories burnt)>
2. run isoloation forest on the data to identify the outliers for anomoly detection
'''

'\ngiven the source/checkin_checkout_history_updated.csv file, identify the users and its corresponding weeks where it has been acting differently/unusual\nsteps:\n1. process the data to group by (user, week) and get {total visits, total length of visits, total calories burnt}\n    - can use map reduce to do this, or pandas <(user, week), (total visits, total length of visits, total calories burnt)>\n2. run isoloation forest on the data to identify the outliers for anomoly detection\n'

In [ ]:
df = pd.read_csv('../source/checkin_checkout_history_updated.csv')
df['checkin_time'] = pd.to_datetime(df['checkin_time'])
df['checkout_time'] = pd.to_datetime(df['checkout_time'])
df['session_seconds'] = (df['checkout_time'] - df['checkin_time']).dt.total_seconds()
df['week'] = df['checkin_time'].dt.isocalendar().week
df.drop(['gym_id', 'checkin_time', 'checkout_time', 'workout_type'], axis=1, inplace=True)
df

        user_id  calories_burned  session_seconds  week
0          3291              462           2340.0    36
1          1944             1278           9360.0    15
2           958              858           5100.0    23
3           811             1134          10200.0    21
4          4923             1049           6120.0     8
...         ...              ...              ...   ...
299995     3995              288           2640.0    31
299996      206             1935          10200.0    26
299997     4983             1312           4380.0    14
299998     1028              787           3420.0     9
299999     3314              512           3000.0     1

[300000 rows x 4 columns]

In [88]:
# fixed
df = pd.read_csv('../source/checkin_checkout_history_updated.csv')
df['user_id'] = df['user_id'].str.split('_').str[1].astype(int)
df['checkin_time'] = pd.to_datetime(df['checkin_time'])
df['checkout_time'] = pd.to_datetime(df['checkout_time'])
df['session_seconds'] = (df['checkout_time'] - df['checkin_time']).dt.total_seconds()
df['week'] = df['checkin_time'].dt.isocalendar().week
df.drop(['gym_id', 'checkin_time', 'checkout_time', 'workout_type'], axis=1, inplace=True)
df

        user_id  calories_burned  session_seconds  week
0          3291              462           2340.0    36
1          1944             1278           9360.0    15
2           958              858           5100.0    23
3           811             1134          10200.0    21
4          4923             1049           6120.0     8
...         ...              ...              ...   ...
299995     3995              288           2640.0    31
299996      206             1935          10200.0    26
299997     4983             1312           4380.0    14
299998     1028              787           3420.0     9
299999     3314              512           3000.0     1

[300000 rows x 4 columns]

In [ ]:
def rowToTuple(row):
    _, row_data = row
    user_id = row_data['user_id']
    calories = row_data['calories_burned']
    seconds = row_data['session_seconds']
    week = row_data['week']
    return (str(user_id) + "-" + str(week), (1, seconds, calories))

def reduceTuple(accumulator, pair):
    key, value = pair
    if key in accumulator:
        accumulator[key] = tuple(map(lambda x, y: x + y, accumulator[key], value))
        #accumulator[key] = (accumulator[key][0] + int(value[0]), accumulator[key][1] + int(value[1]), accumulator[key][2] + int(value[2]))
    else:
        accumulator[key] = (int(value[0]), int(value[1]), int(value[2]))
    return accumulator

In [106]:
mapped_data = map(rowToTuple, df.iterrows())
reduced_data = reduce(reduceTuple, mapped_data, {})
reduced_data

{'3291-36': (2, 8520, 1312),
 '1944-15': (3, 18000, 2725),
 '958-23': (3, 22020, 2194),
 '811-21': (1, 10200, 1134),
 '4923-8': (2, 9900, 2799),
 '1534-5': (3, 22380, 3256),
 '4431-23': (3, 14940, 3635),
 '410-12': (1, 7140, 751),
 '54-14': (2, 13740, 1289),
 '4797-7': (3, 18840, 2776),
 '1099-37': (2, 11040, 907),
 '2397-30': (1, 7320, 454),
 '975-18': (4, 29340, 3977),
 '4489-14': (3, 15000, 2039),
 '4650-18': (2, 8220, 2082),
 '2895-6': (1, 6360, 737),
 '3280-19': (1, 8160, 556),
 '4922-22': (2, 9660, 2646),
 '4840-12': (4, 22200, 4037),
 '2225-14': (3, 21780, 2105),
 '2559-8': (1, 9660, 730),
 '3691-41': (1, 9600, 1636),
 '139-4': (2, 7620, 1017),
 '3174-5': (2, 18420, 2364),
 '2521-28': (1, 9300, 1192),
 '4638-24': (5, 39780, 3981),
 '2242-3': (3, 15180, 3323),
 '3828-6': (4, 18120, 3292),
 '1338-32': (2, 18840, 660),
 '4090-18': (5, 25680, 3829),
 '2853-18': (2, 15300, 1197),
 '2295-29': (2, 15660, 1402),
 '2678-34': (2, 6540, 1516),
 '73-3': (1, 2100, 667),
 '2879-14': (2, 9480, 2031),
 '2142-41': (2, 13560, 1377),
 '4531-32': (4, 18900, 2335),
 '1807-12': (1, 5520, 1373),
 '2046-41': (1, 8280, 627),
 '3503-14': (2, 12120, 2489),
 '4553-38': (1, 5340, 779),
 '3502-37': (3, 19740, 1713),
 '2277-37': (4, 24600, 3013),
 '2078-41': (2, 16140, 1073),
 '1649-7': (2, 14160, 1241),
 '335-35': (4, 21720, 3328),
 '4756-1': (5, 29340, 3442),
 '4665-35': (5, 36780, 4198),
 '4273-26': (3, 21300, 2480),
 '2872-25': (3, 22020, 1937),
 '2616-16': (5, 25800, 6107),
 '4873-31': (2, 7200, 981),
 '4173-15': (3, 22620, 2189),
 '933-20': (2, 7740, 1128),
 '636-16': (1, 9540, 672),
 '3230-25': (2, 14640, 1023),
 '1191-6': (1, 10680, 683),
 '12-27': (2, 12780, 1091),
 '4003-17': (2, 11700, 2589),
 '4927-38': (3, 15960, 2516),
 '1450-33': (2, 17340, 2563),
 '449-25': (1, 9360, 524),
 '2497-22': (3, 23820, 3508),
 '427-20': (1, 5160, 311),
 '916-40': (4, 29160, 2309),
 '3170-17': (2, 11940, 1305),
 '4727-37': (2, 18120, 2894),
 '4322-16': (4, 24180, 3733),
 '447-8': (1, 6060, 1196),
 '1911-10': (2, 14940, 2908),
 '3736-41': (2, 11700, 840),
 '2251-12': (2, 10620, 2576),
 '4771-3': (3, 27900, 3119),
 '2682-23': (2, 7440, 1710),
 '1402-9': (2, 15120, 2172),
 '3408-9': (3, 19140, 2587),
 '1044-25': (3, 21720, 3158),
 '3019-9': (3, 22980, 2811),
 '392-26': (2, 12420, 2284),
 '4820-9': (1, 7200, 974),
 '1286-30': (1, 4620, 1236),
 '4110-9': (2, 13320, 1876),
 '2435-20': (2, 7140, 1834),
 '642-1': (3, 14340, 3507),
 '1046-29': (3, 16980, 1864),
 '4321-36': (3, 15840, 4075),
 '4038-6': (1, 6660, 1495),
 '3048-21': (3, 20820, 3142),
 '1158-14': (4, 31500, 4167),
 '3250-27': (2, 6360, 1661),
 '3628-15': (1, 9780, 1069),
 '1544-9': (1, 10380, 1944),
 '792-14': (2, 16440, 2697),
 '437-15': (1, 4020, 1912),
 '3515-11': (2, 17400, 880),
 '4677-12': (2, 13920, 1658),
 '4783-37': (2, 10260, 1745),
 '4461-18': (3, 17520, 2783),
 '3960-38': (2, 7920, 1213),
 '4365-9': (4, 27120, 2792),
 '1717-15': (1, 9300, 633),
 '3637-30': (2, 15540, 1447),
 '3365-33': (2, 15180, 2083),
 '4174-30': (2, 14160, 2444),
 '189-40': (2, 9060, 742),
 '2719-22': (2, 18360, 866),
 '2406-8': (1, 5340, 556),
 '3931-3': (2, 11940, 1564),
 '3166-2': (1, 5160, 432),
 '903-31': (1, 2580, 857),
 '341-26': (1, 9600, 361),
 '2882-37': (3, 16020, 3499),
 '4507-15': (2, 8040, 1211),
 '4994-3': (1, 6960, 1132),
 '644-39': (2, 9780, 1491),
 '21-41': (4, 25680, 4356),
 '3073-4': (1, 2820, 1176),
 '678-28': (2, 14940, 1325),
 '1100-30': (1, 9000, 589),
 '2651-23': (4, 20700, 5106),
 '3470-5': (2, 20400, 1202),
 '4184-36': (5, 31920, 3709),
 '2065-4': (2, 13800, 1684),
 '3401-27': (3, 17760, 1606),
 '2872-13': (3, 24240, 2466),
 '2431-24': (3, 15600, 3066),
 '2688-19': (1, 2040, 1250),
 '1417-20': (4, 26100, 2453),
 '4406-26': (3, 13740, 2676),
 '492-17': (1, 6660, 643),
 '760-17': (4, 23760, 2298),
 '3502-34': (2, 6060, 1085),
 '1-11': (6, 47760, 5769),
 '2089-25': (2, 14700, 1435),
 '3657-21': (4, 24780, 2333),
 '4768-6': (2, 14220, 2371),
 '212-28': (6, 19260, 4826),
 '3723-19': (2, 20220, 951),
 '3518-34': (2, 5700, 1163),
 '1966-16': (2, 10200, 1766),
 '304-24': (2, 12300, 491),
 '4787-17': (1, 6540, 589),
 '3773-28': (4, 31920, 3607),
 '1782-3': (4, 28320, 3859),
 '3226-31': (3, 22440, 3663),
 '4712-23': (1, 1860, 1120),
 '4619-25': (1, 5880, 1759),
 '2073-5': (3, 20280, 2434),
 '808-27': (3, 16260, 3431),
 '4121-34': (3, 17520, 2073),
 '1777-11': (2, 8220, 3659),
 '3191-14': (2, 9120, 791),
 '4043-40': (2, 14100, 1238),
 '4204-26': (2, 12060, 2674),
 '1354-22': (3, 21660, 2490),
 '180-4': (3, 23820, 3527),
 '881-1': (2, 8220, 2016),
 '1831-5': (3, 13260, 2888),
 '4699-6': (3, 15480, 1689),
 '4003-34': (1, 5520, 1742),
 '2801-20': (1, 6660, 343),
 '4264-35': (2, 12840, 1413),
 '223-29': (1, 7380, 408),
 '4565-3': (1, 2160, 946),
 '4374-40': (4, 31140, 4898),
 '2238-16': (2, 12000, 1969),
 '2579-17': (1, 4860, 480),
 '1779-27': (5, 29100, 4620),
 '621-13': (5, 25860, 5014),
 '1214-30': (2, 7020, 2551),
 '4055-35': (1, 5340, 805),
 '4314-32': (2, 18840, 1303),
 '4264-10': (2, 17400, 2682),
 '2828-2': (5, 27960, 3690),
 '2241-31': (2, 15420, 2309),
 '1363-22': (3, 17040, 2706),
 '2839-21': (2, 13440, 1882),
 '2503-26': (3, 16680, 1583),
 '2241-13': (3, 15840, 1799),
 '93-18': (2, 17220, 2010),
 '1239-31': (2, 9480, 1500),
 '4609-5': (3, 22860, 3216),
 '3471-34': (1, 5460, 844),
 '3236-31': (1, 10020, 1368),
 '4202-40': (3, 20700, 2057),
 '2765-22': (1, 10680, 1307),
 '3605-31': (1, 9660, 1231),
 '2836-26': (2, 16680, 2989),
 '3902-13': (1, 9960, 754),
 '3235-33': (5, 29880, 6092),
 '3629-31': (3, 13980, 1742),
 '1769-3': (1, 6360, 1027),
 '3510-32': (1, 9480, 1007),
 '2902-28': (2, 12240, 2319),
 '1542-38': (3, 15840, 3235),
 '2092-34': (2, 13860, 1175),
 '2651-35': (3, 22080, 2391),
 '1732-15': (3, 16440, 2299),
 '92-15': (2, 14940, 711),
 '4855-1': (3, 14760, 2145),
 '731-1': (4, 20940, 4025),
 '4433-26': (3, 28320, 2408),
 '3815-33': (2, 13320, 569),
 '700-21': (2, 17880, 1206),
 '3015-34': (4, 25560, 3679),
 '2312-17': (5, 27840, 5505),
 '2017-30': (2, 16620, 2558),
 '3491-25': (4, 21840, 4464),
 '978-7': (3, 21120, 3553),
 '4211-27': (3, 17940, 3153),
 '1259-13': (2, 16080, 2454),
 '3856-34': (2, 9660, 2513),
 '1298-38': (2, 9120, 932),
 '1979-20': (2, 13200, 2493),
 '4130-15': (2, 15180, 749),
 '1733-4': (1, 3600, 1379),
 '2943-40': (2, 10560, 1672),
 '2510-32': (3, 22740, 2051),
 '449-33': (2, 10440, 2382),
 '1238-34': (1, 8040, 668),
 '4501-8': (1, 8820, 774),
 '333-12': (2, 7800, 1643),
 '4324-13': (3, 21720, 2495),
 '166-20': (2, 7320, 2294),
 '4681-15': (2, 6420, 2008),
 '4833-38': (2, 9360, 2424),
 '4694-38': (3, 18960, 2146),
 '4689-2': (1, 3960, 690),
 '4028-16': (2, 12780, 2599),
 '2775-8': (2, 10320, 1853),
 '1700-39': (4, 23940, 3173),
 '1414-13': (1, 5400, 559),
 '1447-5': (2, 15300, 2515),
 '3483-13': (4, 28800, 4136),
 '4745-41': (2, 14820, 2617),
 '1688-15': (4, 23820, 3439),
 '447-38': (3, 10080, 1853),
 '3475-1': (2, 16500, 1707),
 '97-13': (2, 15600, 2027),
 '2427-4': (3, 17700, 3902),
 '2718-33': (1, 5820, 183),
 '3258-21': (2, 5940, 2257),
 '4727-29': (3, 18120, 2768),
 '503-39': (3, 22860, 1502),
 '4384-9': (4, 15120, 3643),
 '4465-12': (2, 15900, 1347),
 '65-4': (2, 10020, 468),
 '4258-6': (3, 16380, 1608),
 '662-7': (1, 6780, 563),
 '3490-16': (1, 6180, 1006),
 '481-1': (2, 8160, 1493),
 '4663-1': (2, 14640, 1137),
 '3262-41': (4, 28800, 3658),
 '406-12': (5, 24360, 3453),
 '4861-19': (2, 21360, 944),
 '3561-11': (1, 2280, 1345),
 '3384-33': (2, 7860, 2497),
 '3668-17': (5, 34620, 5253),
 '4962-33': (1, 5460, 503),
 '1118-4': (5, 30000, 5249),
 '2438-23': (3, 21780, 4298),
 '3483-2': (4, 25260, 1974),
 '3710-32': (5, 34080, 3444),
 '3441-41': (2, 11700, 1571),
 '742-3': (1, 4800, 321),
 '3240-36': (1, 9660, 1327),
 '2922-34': (3, 23640, 2159),
 '1832-36': (1, 10020, 325),
 '4139-4': (2, 15660, 1356),
 '911-36': (3, 22500, 3992),
 '4013-25': (3, 22440, 3772),
 '4703-31': (1, 9240, 907),
 '1419-30': (2, 9240, 1875),
 '4815-39': (2, 6780, 988),
 '4310-15': (3, 14400, 1912),
 '4039-31': (3, 16980, 2732),
 '3640-4': (2, 15720, 1758),
 '3446-28': (3, 12780, 3306),
 '132-10': (4, 28980, 2192),
 '2057-17': (1, 6900, 830),
 '153-19': (1, 2760, 921),
 '2479-14': (1, 9420, 668),
 '483-20': (5, 29880, 5343),
 '305-5': (1, 8940, 964),
 '2520-11': (2, 16080, 1785),
 '993-37': (1, 9960, 717),
 '2238-1': (3, 23820, 2158),
 '2560-3': (3, 18000, 3097),
 '4439-35': (4, 29580, 3780),
 '715-20': (4, 30300, 3569),
 '1710-5': (3, 11820, 2631),
 '1058-19': (3, 17820, 2444),
 '471-17': (4, 29280, 2879),
 '3466-32': (4, 36360, 4901),
 '741-38': (2, 6720, 2546),
 '3567-28': (2, 14400, 2008),
 '513-23': (2, 9720, 1124),
 '3394-21': (3, 17220, 4103),
 '3286-41': (2, 7140, 2085),
 '3838-39': (1, 9960, 393),
 '2193-39': (3, 14700, 3935),
 '4655-39': (2, 15180, 698),
 '4888-14': (4, 25920, 3342),
 '360-31': (4, 31320, 3576),
 '285-15': (2, 10860, 1702),
 '3317-12': (4, 16860, 4363),
 '3278-4': (3, 19680, 1567),
 '2632-11': (3, 20220, 1913),
 '1758-34': (3, 19500, 2253),
 '2775-32': (5, 27720, 6809),
 '1523-30': (3, 19200, 1588),
 '1246-31': (2, 12960, 2037),
 '1413-24': (1, 6300, 1322),
 '4839-17': (3, 14400, 2941),
 '1417-15': (2, 13860, 1218),
 '358-4': (1, 3660, 1731),
 '3466-38': (5, 35160, 4475),
 '4136-5': (4, 22980, 4230),
 '2950-10': (3, 22380, 3562),
 '3142-25': (3, 17940, 3428),
 '2877-17': (4, 26940, 3821),
 '4554-24': (3, 14580, 3434),
 '197-23': (3, 17880, 2338),
 '1875-8': (1, 9120, 779),
 '938-36': (5, 23700, 6268),
 '2195-5': (3, 14820, 3549),
 '3531-5': (4, 27900, 3457),
 '4126-23': (2, 12000, 1849),
 '390-30': (6, 47460, 4456),
 '2927-19': (5, 36000, 4663),
 '347-32': (2, 13680, 1937),
 '2845-13': (1, 3180, 1285),
 '119-23': (4, 18900, 3845),
 '4616-23': (2, 10200, 916),
 '1239-32': (1, 8460, 973),
 '2781-29': (3, 18180, 2757),
 '2128-32': (2, 11700, 910),
 '2467-27': (2, 19500, 2133),
 '584-19': (1, 10620, 493),
 '2760-35': (2, 9480, 2371),
 '1709-35': (2, 7920, 2685),
 '2705-37': (5, 37440, 4909),
 '4838-24': (1, 10680, 465),
 '672-22': (2, 17220, 1069),
 '1772-15': (3, 19740, 2718),
 '1686-39': (2, 5340, 1615),
 '2078-38': (4, 32160, 3643),
 '2486-15': (3, 23880, 2795),
 '1697-13': (2, 18180, 1948),
 '3602-38': (4, 21480, 2861),
 '4159-6': (3, 18480, 2992),
 '1454-33': (1, 3900, 1067),
 '3207-40': (5, 34080, 4051),
 '4253-39': (6, 34680, 4536),
 '2991-12': (1, 6900, 1033),
 '4873-22': (3, 22440, 3973),
 '2302-26': (1, 9060, 555),
 '3259-21': (2, 11160, 702),
 '1351-3': (2, 16680, 1757),
 '4102-9': (3, 16140, 2908),
 '3950-28': (2, 11520, 1733),
 '1280-20': (4, 29760, 3178),
 '821-22': (2, 7020, 1282),
 '1344-34': (3, 16200, 2898),
 '2296-3': (5, 33060, 5373),
 '4-15': (2, 7980, 2419),
 '2561-15': (3, 26220, 1897),
 '2554-12': (2, 13740, 1744),
 '31-30': (1, 5520, 1020),
 '1653-17': (2, 16980, 1013),
 '1299-13': (4, 23220, 4662),
 '4805-32': (1, 6300, 904),
 '886-30': (2, 9720, 2034),
 '1201-39': (2, 15300, 1925),
 '3359-3': (7, 40560, 6129),
 '1980-25': (2, 20640, 1649),
 '4844-40': (1, 8400, 479),
 '4039-18': (2, 17820, 1615),
 '2127-30': (1, 7440, 383),
 '2291-20': (3, 14220, 2090),
 '3895-36': (3, 20160, 2644),
 '4597-8': (5, 34680, 4192),
 '205-17': (3, 18060, 2893),
 '1484-40': (2, 10980, 982),
 '2771-1': (3, 20940, 3457),
 '4429-11': (2, 15780, 1150),
 '2651-1': (5, 37260, 5026),
 '4262-6': (2, 11460, 1557),
 '2209-15': (2, 12900, 737),
 '6-19': (3, 19320, 1650),
 '532-32': (3, 19140, 2961),
 '2093-30': (4, 21540, 4179),
 '4553-15': (5, 30060, 5083),
 '227-6': (3, 16020, 3167),
 '2100-12': (3, 16500, 2281),
 '4567-11': (3, 21000, 2863),
 '897-6': (3, 23220, 1098),
 '1321-2': (2, 8220, 2423),
 '2662-14': (1, 3300, 1764),
 '2560-22': (4, 34920, 3895),
 '1665-35': (2, 8520, 2539),
 '1526-21': (2, 6780, 2902),
 '3751-13': (3, 24300, 3253),
 '3655-37': (1, 7380, 967),
 '2568-29': (3, 20040, 1439),
 '4770-2': (2, 18180, 2853),
 '1097-31': (1, 7980, 1020),
 '3099-17': (2, 14940, 2605),
 '3241-12': (2, 8220, 828),
 '2823-7': (4, 32760, 4059),
 '2928-19': (4, 15600, 2864),
 '4994-37': (2, 15240, 1460),
 '3615-13': (4, 29040, 3365),
 '848-8': (1, 7080, 660),
 '3617-19': (2, 9000, 1918),
 '3894-27': (2, 4920, 1891),
 '3382-28': (2, 14880, 1739),
 '3072-20': (4, 31500, 3979),
 '2995-35': (3, 22800, 2564),
 '4743-14': (4, 27780, 3020),
 '4534-12': (1, 7140, 987),
 '1501-39': (3, 20220, 2493),
 '2443-5': (2, 17580, 1574),
 '1726-9': (2, 6780, 2749),
 '1566-33': (4, 29160, 5056),
 '1744-41': (3, 23040, 3451),
 '326-25': (2, 8940, 787),
 '4418-40': (2, 15240, 2231),
 '2231-8': (3, 10500, 3574),
 '2667-36': (7, 36960, 5309),
 '1210-5': (2, 9780, 3495),
 '4362-2': (2, 13800, 1515),
 '842-19': (2, 10740, 2405),
 '4425-25': (1, 3480, 839),
 '3902-2': (3, 15300, 3443),
 '3437-3': (2, 12060, 2051),
 '4779-40': (2, 3960, 1248),
 '2072-6': (2, 13020, 2582),
 '1285-19': (2, 7980, 1809),
 '1379-30': (2, 13860, 2660),
 '2659-33': (4, 19920, 5401),
 '3562-19': (2, 14220, 3666),
 '1888-18': (2, 15960, 1411),
 '4013-13': (2, 8100, 2562),
 '1979-16': (2, 18600, 1244),
 '4728-29': (2, 14880, 2171),
 '4417-7': (1, 10260, 687),
 '4299-33': (1, 2400, 755),
 '3162-16': (2, 13620, 2622),
 '2225-26': (1, 6360, 703),
 '4723-34': (2, 9060, 1708),
 '2080-2': (1, 2640, 1716),
 '4823-21': (5, 25920, 5956),
 '954-14': (2, 14040, 1682),
 '2868-10': (4, 27900, 4545),
 '2291-3': (1, 6000, 444),
 '70-41': (3, 19740, 3919),
 '1095-16': (2, 12660, 602),
 '4254-37': (4, 25860, 2823),
 '549-30': (1, 2820, 1478),
 '1840-13': (1, 10020, 664),
 '1952-23': (2, 9840, 1330),
 '1059-29': (3, 21780, 2388),
 '3552-28': (3, 13320, 1640),
 '2508-9': (1, 7500, 1103),
 '3908-36': (2, 11760, 1220),
 '4982-10': (3, 14280, 3000),
 '3491-33': (4, 23640, 5237),
 '4607-24': (1, 7320, 806),
 '4464-21': (1, 8100, 1073),
 '2960-34': (6, 26880, 4376),
 '883-25': (3, 22200, 2764),
 '2626-6': (4, 23040, 2989),
 '4765-29': (3, 25440, 3237),
 '2154-14': (2, 7740, 1612),
 '4762-19': (4, 17880, 2426),
 '3567-33': (1, 4500, 1503),
 '260-11': (3, 14580, 2366),
 '1509-5': (3, 20220, 3178),
 '313-33': (2, 16380, 1575),
 '2679-13': (3, 16860, 1998),
 '1845-12': (2, 5820, 1514),
 '2585-12': (1, 3540, 840),
 '4015-30': (5, 38460, 3871),
 '3252-21': (1, 10380, 1450),
 '1534-24': (1, 9540, 1076),
 '4770-3': (2, 13200, 1168),
 '1424-19': (4, 22320, 1944),
 '2021-8': (1, 4260, 634),
 '1692-34': (4, 22080, 3896),
 '1729-38': (3, 18360, 4073),
 '328-17': (1, 6120, 1505),
 '1589-21': (2, 19680, 2469),
 '3754-22': (2, 14160, 1688),
 '2895-13': (2, 14820, 1021),
 '98-32': (2, 8160, 1355),
 '4755-15': (1, 3900, 738),
 '2348-1': (2, 9720, 1667),
 '1098-5': (2, 8160, 1799),
 '4735-8': (3, 26940, 2911),
 '85-4': (2, 8820, 2034),
 '1278-34': (1, 9180, 1209),
 '2712-28': (4, 19320, 2650),
 '519-35': (1, 3060, 1465),
 '3524-23': (2, 13200, 1900),
 '184-31': (2, 16260, 2046),
 '973-28': (2, 10620, 2494),
 '3386-14': (2, 8760, 1797),
 '2389-14': (2, 15120, 2181),
 '4323-24': (2, 9480, 2247),
 '4933-32': (4, 21420, 1967),
 '2312-22': (1, 3120, 942),
 '2498-10': (2, 12420, 1449),
 '3480-13': (2, 9540, 1354),
 '4266-20': (1, 8220, 878),
 '566-32': (1, 8700, 915),
 '1936-24': (2, 14760, 2639),
 '827-35': (2, 20280, 1757),
 '4702-3': (5, 38460, 3552),
 '3118-16': (2, 7080, 2042),
 '350-33': (3, 18540, 3951),
 '99-5': (2, 13140, 3183),
 '1770-26': (3, 23940, 2512),
 '1805-9': (2, 15960, 1174),
 '1061-18': (1, 4260, 1939),
 '3510-22': (2, 10680, 1763),
 '3057-25': (2, 7920, 1362),
 '4171-3': (1, 9000, 1076),
 '2106-12': (1, 7800, 1462),
 '3091-25': (1, 3600, 1872),
 '402-35': (3, 23280, 1714),
 '188-28': (5, 26580, 4766),
 '3985-12': (2, 10620, 1607),
 '139-10': (2, 8100, 1708),
 '143-13': (3, 14220, 3053),
 '4204-39': (1, 2340, 1594),
 '221-24': (1, 4200, 1873),
 '4241-10': (2, 5580, 1972),
 '4606-33': (2, 14940, 2330),
 '2424-41': (1, 5100, 619),
 '4101-15': (5, 29940, 5221),
 '4029-14': (1, 8640, 1232),
 '388-36': (1, 4980, 870),
 '3839-19': (2, 16980, 1798),
 '3032-27': (1, 7680, 283),
 '560-14': (2, 14580, 507),
 '1840-25': (1, 2280, 1514),
 '3235-10': (2, 14100, 2170),
 '1772-18': (1, 7020, 553),
 '365-23': (4, 15600, 3995),
 '417-3': (1, 2760, 1419),
 '1636-38': (3, 16920, 3188),
 '2069-5': (2, 10680, 927),
 '517-29': (4, 25740, 3567),
 '4032-28': (2, 11820, 1833),
 '1221-7': (3, 10080, 2005),
 '661-35': (4, 16620, 2990),
 '3417-32': (4, 17760, 4642),
 '330-28': (4, 31980, 3823),
 '378-24': (3, 18060, 1885),
 '3283-21': (2, 11820, 1730),
 '160-1': (4, 23700, 4781),
 '4754-26': (2, 10740, 1289),
 '1264-40': (1, 7620, 324),
 '4175-15': (3, 22260, 2632),
 '2200-4': (2, 17280, 714),
 '2565-30': (3, 18540, 3005),
 '2431-1': (2, 12720, 1223),
 '4789-34': (1, 8700, 530),
 '2038-40': (3, 15600, 2249),
 '2400-10': (2, 15720, 2293),
 '1225-7': (5, 26760, 4442),
 '1989-6': (1, 7320, 288),
 '866-3': (3, 15300, 1399),
 '391-13': (3, 13200, 2757),
 '1409-24': (3, 19140, 2917),
 '4916-23': (2, 9960, 1193),
 '4031-19': (2, 16080, 1291),
 '4436-17': (3, 25380, 2880),
 '1555-29': (1, 9420, 202),
 '4048-18': (1, 5340, 386),
 '132-1': (2, 12480, 2021),
 '3680-30': (1, 1920, 769),
 '3077-32': (1, 8460, 1111),
 '4473-33': (6, 34320, 3740),
 '4736-27': (1, 8520, 998),
 '1522-4': (3, 17400, 2870),
 '3270-26': (3, 16860, 2274),
 '441-24': (2, 9540, 1269),
 '1742-18': (3, 25500, 2744),
 '1204-15': (2, 15180, 1415),
 '241-9': (2, 12480, 1933),
 '3392-12': (3, 13020, 3040),
 '3722-30': (2, 13920, 2767),
 '4119-18': (1, 5640, 770),
 '1204-36': (3, 23880, 1863),
 '1888-9': (3, 21240, 2881),
 '4271-41': (3, 28500, 2493),
 '198-10': (3, 26220, 2512),
 '3526-15': (3, 23400, 2608),
 '4195-30': (5, 23160, 3694),
 '745-6': (2, 19860, 1940),
 '453-39': (2, 9120, 1724),
 '3263-6': (2, 16140, 1149),
 '3022-29': (2, 13560, 2995),
 '499-23': (1, 3840, 1019),
 '3688-38': (2, 9180, 1769),
 '3263-36': (5, 28500, 4798),
 '141-29': (1, 7680, 1155),
 '1715-26': (3, 12900, 1720),
 '2821-14': (4, 33720, 3928),
 '2223-40': (3, 23040, 2565),
 '2468-17': (2, 16140, 2450),
 '676-25': (4, 22740, 2800),
 '3506-21': (3, 20220, 2574),
 '3603-36': (1, 5820, 452),
 '918-23': (5, 36600, 4759),
 '1823-4': (3, 9540, 3547),
 '3823-19': (3, 23280, 2860),
 '2604-6': (1, 9660, 608),
 '4804-26': (1, 6240, 748),
 '1731-7': (1, 9120, 316),
 '3429-26': (3, 20760, 3816),
 '4657-18': (1, 3600, 807),
 '4155-15': (1, 10440, 930),
 '3719-38': (4, 29940, 3229),
 '1625-2': (3, 13800, 3057),
 '1807-29': (4, 18180, 3897),
 '4359-9': (2, 12900, 1565),
 '1455-26': (3, 28380, 1372),
 '354-2': (2, 13260, 1489),
 '2934-41': (1, 6540, 1021),
 '941-33': (1, 3120, 900),
 '3946-8': (1, 8520, 1176),
 '4143-23': (1, 9360, 349),
 '4849-5': (1, 2880, 1596),
 '230-34': (4, 28680, 4282),
 '3483-15': (3, 16020, 2057),
 '4853-17': (3, 21240, 2522),
 '4858-13': (4, 30060, 2971),
 '238-3': (2, 6420, 2247),
 '3773-30': (2, 14580, 3540),
 '4174-6': (1, 8880, 717),
 '2782-22': (2, 9900, 812),
 '2607-25': (2, 6240, 1642),
 '1985-20': (2, 9000, 2125),
 '3096-22': (1, 8400, 495),
 '1053-17': (2, 4860, 2007),
 '351-35': (1, 6540, 361),
 '913-7': (5, 42720, 6061),
 '4446-2': (2, 11880, 1308),
 '1305-40': (3, 22560, 3249),
 '2524-24': (4, 22560, 2903),
 '292-24': (3, 17520, 1230),
 '1213-22': (3, 28920, 2533),
 '468-15': (3, 17760, 2673),
 '3278-13': (1, 8880, 2005),
 '2526-36': (1, 7620, 1216),
 '3576-22': (3, 8820, 1696),
 '3200-27': (2, 14340, 1329),
 '4326-29': (3, 17580, 2123),
 '1065-8': (4, 29280, 4360),
 '4889-24': (4, 22860, 3442),
 '3464-28': (2, 12000, 2279),
 '4920-15': (1, 4680, 454),
 '1694-17': (3, 16740, 3396),
 '4932-14': (2, 17460, 893),
 '2395-18': (1, 10680, 1627),
 '2058-1': (2, 17580, 1570),
 '87-23': (2, 11640, 1163),
 '2593-10': (2, 14340, 1807),
 '4043-21': (2, 7560, 2162),
 '2921-36': (4, 18060, 3028),
 '4-9': (3, 16980, 2051),
 '3095-20': (1, 10500, 372),
 '1522-2': (2, 13320, 1252),
 '2949-3': (5, 27720, 4782),
 '3858-25': (8, 40440, 4660),
 '1978-30': (4, 17100, 3455),
 '1475-32': (2, 11160, 2963),
 '1131-20': (3, 23820, 2840),
 '881-38': (1, 8340, 848),
 '1402-38': (3, 17940, 2066),
 '1976-15': (2, 14160, 1574),
 '1751-11': (4, 27300, 3542),
 '2-3': (2, 16260, 2097),
 '1145-28': (4, 27480, 3864),
 '1639-20': (3, 20220, 2230),

In [107]:
csv_df = pd.DataFrame.from_dict(reduced_data, orient='index', columns=['total_sessions', 'total_session_seconds', 'total_calories'])
# csv_df = csv_df.reset_index()

csv_df.to_csv('processed_data.csv', index=True)
csv_df

         total_sessions  total_session_seconds  total_calories
3291-36               2                   8520            1312
1944-15               3                  18000            2725
958-23                3                  22020            2194
811-21                1                  10200            1134
4923-8                2                   9900            2799
...                 ...                    ...             ...
3421-4                1                   9720             555
2864-21               1                   5580             292
2131-11               1                   7200            1066
997-34                1                   4560             421
3995-31               1                   2640             288

[158299 rows x 3 columns]

In [57]:
bruh = map(rowToTuple, df.iterrows())
# lol = reduce(reduceTuple, bruh, {})

In [ ]:
# user_id, week, total_visits, total_length, total_calories
aggregated = df.groupby(['user_id', 'week']).agg(
    total_calories_burned=('calories_burned', 'sum'),
    total_sessions=('user_id', 'count'),
    total_session_seconds=('session_seconds', 'sum')
)
aggregated.head(100)

                total_calories_burned  total_sessions  total_session_seconds
user_id   week
user_1    1                      3816               4                26040.0
          2                       975               1                 6840.0
          3                      1715               3                21360.0
          5                       403               1                 3060.0
          6                      1243               1                 5580.0
...                               ...             ...                    ...
user_1000 6                       764               1                 6960.0
          9                       913               2                10440.0
          11                      653               1                 3180.0
          14                     2464               3                26520.0
          17                      961               1                10020.0

[100 rows x 3 columns]

In [ ]:
model = IsolationForest(contamination=0.05, random_state=42)
aggregated['anomaly'] = model.fit_predict(aggregated)

               total_calories_burned  total_sessions  total_session_seconds  \
user_id  week
user_1   11                     5769               6                47760.0
         20                     5191               5                40680.0
         21                     5463               4                21780.0
         32                     3325               5                42960.0
user_10  9                      5182               4                23460.0
...                              ...             ...                    ...
user_994 37                     5376               4                24000.0
user_995 8                      2948               5                24360.0
         13                     3444               4                33180.0
         35                     2971               4                35220.0
user_997 23                     6480               7                32760.0

               anomaly
user_id  week
user_1   11         -1
         20         -1
         21         -1
         32         -1
user_10  9          -1
...                ...
user_994 37         -1
user_995 8          -1
         13         -1
         35         -1
user_997 23         -1

[7914 rows x 4 columns]

In [ ]:


df['checkin_time'] = pd.to_datetime(df['checkin_time'])
df['checkout_time'] = pd.to_datetime(df['checkout_time'])

# Extract additional info (assuming columns for 'user', 'calories_burnt' exist)
df['visit_length'] = (df['checkout_time'] - df['checkin_time']).dt.total_seconds() / 60  # in minutes
df['week'] = df['checkin_time'].dt.isocalendar().week  # Week of the year

# Step 1: Group by user and week
weekly_stats = df.groupby(['user', 'week']).agg(
    total_visits=('checkin_time', 'count'),
    total_length_of_visits=('visit_length', 'sum'),
    total_calories_burnt=('calories_burnt', 'sum')
).reset_index()

# Step 2: Apply Isolation Forest for anomaly detection
X = weekly_stats[['total_visits', 'total_length_of_visits', 'total_calories_burnt']]

# Initialize IsolationForest model
model = IsolationForest(contamination=0.05, random_state=42)
weekly_stats['anomaly'] = model.fit_predict(X)

# Label outliers (anomalies) as 'unusual' when the model assigns -1
weekly_stats['is_unusual'] = weekly_stats['anomaly'] == -1

# Filter unusual activity
unusual_activity = weekly_stats[weekly_stats['is_unusual']]

# Output the results
print("Unusual activities detected:")
print(unusual_activity[['user', 'week', 'total_visits', 'total_length_of_visits', 'total_calories_burnt']])

ModuleNotFoundError: No module named 'sklearn'